@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: rgb(151, 218, 239);
  --black-color: #000000;
  --border: 0.1rem solid rgba(255, 255, 255, 04);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}
p.ben {
  text-transform: none;
}
p.sehrim2 {
  text-transform: none;
}

html::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #fff;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--black-color);
}

html {
  font-size: 62.5;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

.heading {
  color: var(--black-color);
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid var(--black-color);
}
section {
  padding: 3.5rem 7%;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
}
a {
  color: var(--black-color);
  text-decoration: none;
}
/*! header start */
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0px 0px 25px 2px rgb(0 0 0 / 75%);
  transform: scaleY(0);
}
.header .search-form.active {
  transform: scaleY(1);
}
.header .search-form i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black-color);
  padding-left: 1rem;
}
.header .search-form input {
  width: 100%;
  padding-left: 3rem;
  border-radius: 10rem;
}

.header .logo img {
  height: 8rem;
}
.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.3rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}

.header .button button {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
  padding-right: 1rem;
}
#menu-btn {
  display: none;
}
/*! header end*/

/*! hakkında start*/
.hakkında {
  min-height: 100vh;
  background: url(../images/tarsushakkında.png);
  background-size: cover;
  background-position: center;
  margin-top: -16rem;
  display: flex;
  align-items: center;
}

.hakkında .content {
  max-width: 60rem;
}
.hakkında .content h3 {
  font-size: 5rem;
  color: #fff;
}
.hakkında .content p {
  font-size: 1.4rem;
  font-weight: 450;
  line-height: 1.4;
  padding: 1rem 0;
  color: #fff;
}

/*!hakkında end*/

/*! login start */

.login {
  min-height: 100vh;
  background: var(--main-color);
  background-size: 80;
  background-position: center;
  margin-top: -10rem;
  display: flex;
  align-items: center;
  padding: 0 30%;
}
.login .container {
  background-color: black;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border: solid;
  border-radius: 5px;
  position: relative;
}
.container .logo-img {
  position: absolute;
  width: 40%;
  height: 35%;
  left: 60%;
  top: 0px;
}
.container .title {
  font-size: 20px;
  padding-bottom: 2rem;
  color: #fff;
}
.container .logo {
  padding-bottom: 5rem;
}
.container form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container form .input-box input {
  height: 100%;
  width: 100%;

  outline: none;
  font-size: 16px;
  border: none;
  border-radius: 2rem;
  background-color: var(--main-color);
}
.container form .login-buton {
  margin: 40px 0 20px 0;
}

.login-buton input {
  border-radius: 2rem;
  background-color: var(--main-color);
  color: #000000;
  padding-right: 0.5rem;
}

.container form .input-box input[type="submit"] {
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  background: red;
  transition: all 0.3s ease;
}
.container input {
  padding-left: 1rem;
  text-transform: none;
}
/*! login end */

/*! responsive start  */
@media (max-width: 1500px) {
  html {
    font-size: 80%;
  }
  .header {
    padding: 1.5rem 3rem;
  }
  .header .logo img {
    height: 7rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 1100px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -200%;
  }
  .header .navbar.active {
    right: -1rem;
  }
  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .header .logo img {
    height: 5rem;
  }

  .hakkında .content h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: 15rem;
  }

  .header .search-form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  input[type="password"]::placeholder,
  input[type="email"]::placeholder {
    font-size: 10px;
    font-weight: bold;
    color: #000000;
  }
  .container .logo-img {
    height: 25%;
  }
  .container .title {
    font-size: 15px;
    color: #fff;
  }
  
}
/*! responsive end  */
